@using Newtonsoft.Json.Linq;

<MudTable Items=@Data Breakpoint="Breakpoint.Sm"
          Hover=@TableDisplayOptions.Hover
          Dense=@TableDisplayOptions.Dense
          Striped=@TableDisplayOptions.Striped
          Bordered=@TableDisplayOptions.Bordered>
    <HeaderContent>
        @foreach (var col in MetaData.Columns)
        {
            <MudTh>@col.Label</MudTh>
        }
    </HeaderContent>
    <RowTemplate>
        @foreach (var col in MetaData.Columns)
        {
            <MudTd Style="vertical-align:top" DataLabel=@col.Label>@context[col.Label]</MudTd>
        }
    </RowTemplate>
    <ChildRowContent>
        @if (MetaData.Children != null)
        {
            foreach (var child in MetaData.Children)
            {
                var data = CastDataToListOfDicts(context[child.Name]);
                var nextLevel = NestingLevel + 1;

                @if (data.Count() > 0)
                {
                    <MudTr>
                        <td colspan=@MetaData.Columns.Count>
                            <MudCard>
                                <MudCardContent>
                                    <MudText>@child.Label</MudText>
                                    <QueryResultInnerTable MetaData=@child Data=@data TableDisplayOptions=@TableDisplayOptions NestingLevel=@nextLevel />
                                </MudCardContent>
                            </MudCard>
                        </td>
                    </MudTr>
                }
            }
        }
    </ChildRowContent>

</MudTable>

