@page "/queryadmin"
@inject ClientModel clientModel
@inject NavigationManager uriHelper

<HeaderRow Header="Query administration" SubHeader="Configure and modify queries" ErrorMessage=@ErrorMessage/>

@if (queryMetaDatas == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudText Typo="Typo.caption">Add new top level query</MudText>
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" Color="Color.Primary" Class="ml-1" OnClick="@(() => CreateNewQuery(null))">Add new</MudButton>
    
    <MudSimpleTable Style="overflow-x: auto;" Bordered="true">
        <thead>
            <tr>
                <th width="20%">Name</th>
                <th>Label</th>
                <th>Description</th>
                <th>Columns</th>
                <th>Params</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var qryMeta in queryMetaDatas)
            {
                <QueryItemRow QueryMeta=qryMeta Level="0"/>
            }
        </tbody>
    </MudSimpleTable>
}