@page "/queryadmin"
@inject ClientModel clientModel
@inject IJSRuntime js
@inject NavigationManager uriHelper


@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <pre>@ErrorMessage</pre>
    </div>
}
else
{
    <div class="top-row">
        <h1> Query administration </h1>
        <h2>Configure and modify queries</h2>

        <hr />
    </div>

    @if (queryMetaDatas == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>Add new top level query</h2>
        <button class="btn btn-primary" @onclick="() => CreateNewQuery(null)">
            <span class="oi oi-plus" aria-hidden="true">Create New</span>
        </button>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Label</th>
                    <th>Description</th>
                    <th>Columns</th>
                    <th>Params</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @((MarkupString)RecurseQueryMetaData(queryMetaDatas, 0))
            </tbody>
        </table>
    }
}

@code 
{
    private string ErrorMessage { get; set; }
    private List<QueryMetaData> queryMetaDatas = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await clientModel.CheckInitAsync();
            queryMetaDatas = clientModel.QueryMetaDatas;

        }
        catch (HttpRequestException e)
        {
            ErrorMessage = $"HttpRequestException: httpstatus: {e.StatusCode}\nMessage:{e.Message}\n=====\nType: {e.GetType()}\nStack trace:\n==========\n{e.StackTrace}";
        }
        catch (Exception e)
        {
            ErrorMessage = $"{e.Message}\nType: {e.GetType()}\nStack trace:\n==========\n{e.StackTrace}";
        }
    }

    async Task Delete(string qryItemName)
    {
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete the query '{qryItemName}' ?"))
        {
            try
            {
                ErrorMessage = null;
                await clientModel.GatewayRestlessDb.DeleteQueryItemAsync(qryItemName);
                clientModel.InvalidateCaches();
                await js.InvokeVoidAsync("alert", $"Query item '{qryItemName}' successfully deleted");
            }
            catch (HttpRequestException e)
            {
                ErrorMessage = e.Message;
            }
        }
    }

    private void CreateNewQuery(string parentQuery)
    {
        uriHelper.NavigateTo($"/qryitemnew?parent={parentQuery}");
    }

    private void EditQuery(string queryName)
    {
        uriHelper.NavigateTo($"/qryitemedit/{queryName}");
    }

    private string RecurseQueryMetaData(List<QueryMetaData> queryMetaDatas, int level)
    {
        string ret = string.Empty;
        foreach (var queryMeta in queryMetaDatas)
        {
            var cols = string.Join(", ", from col in queryMeta.Columns select col.Label);
            var parameters = string.Join(", ", queryMeta.Parameters);

            ret += $@"
    <tr>
    <td>{queryMeta.Name}</td>
    <td>{queryMeta.Label}</td>
    <td>{queryMeta.Description}</td>
    <td>{cols}</td>
    <td>{parameters}</td>
    <td>
        <button class=""btn btn-primary"" @onclick=""() => EditQuery({queryMeta.Name})"">
            <span class=""oi oi-pencil"" aria-hidden=""true""/>Edit
        </button>
        <button class=""btn btn-primary"" @onclick=""() => CreateNewQuery({queryMeta.Name})"">
            <span class=""oi oi-plus"" aria-hidden=""true"" />New child query
        </button>
        <button class=""btn btn-primary"" @onclick=""() => Delete({queryMeta.Name})"">
            <span class=""oi oi-delete"" aria-hidden=""true"" />Delete
        </button>
    </td>
    </tr>";
            if (queryMeta.Children != null)
            {
                ret += RecurseQueryMetaData(queryMeta.Children, level + 1);
            }
        }
        
        return ret;
    }
}
