@page "/queryadmin"
@inject ClientModel clientModel
@inject NavigationManager uriHelper


@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        <pre>@ErrorMessage</pre>
    </div>
}
else
{
    <div class="top-row">
        <h1> Query administration </h1>
        <h2>Configure and modify queries</h2>

        <hr />
    </div>

    @if (queryMetaDatas == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <h2>Add new top level query</h2>
        <button class="btn btn-primary" @onclick="() => CreateNewQuery(null)">
            <span class="oi oi-plus" aria-hidden="true">Create New</span>
        </button>

        <table class="table">
            <thead>
                <tr>
                    <th width="20%">Name</th>
                    <th>Label</th>
                    <th>Description</th>
                    <th>Columns</th>
                    <th>Params</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var qryMeta in queryMetaDatas)
                {
                    <QueryItemRow QueryMeta=qryMeta Level="0"/>
                }
            </tbody>
        </table>
    }
}

@code 
{
    private string ErrorMessage { get; set; }
    private List<QueryMetaData> queryMetaDatas = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await clientModel.CheckInitAsync();
            queryMetaDatas = clientModel.QueryMetaDatas;

        }
        catch (HttpRequestException e)
        {
            ErrorMessage = $"HttpRequestException: httpstatus: {e.StatusCode}\nMessage:{e.Message}\n=====\nType: {e.GetType()}\nStack trace:\n==========\n{e.StackTrace}";
        }
        catch (Exception e)
        {
            ErrorMessage = $"{e.Message}\nType: {e.GetType()}\nStack trace:\n==========\n{e.StackTrace}";
        }
    }

    private void CreateNewQuery(string parentQuery)
    {
        uriHelper.NavigateTo($"/qryitemnew?parent={parentQuery}");
    }
}
